{% extends "base.html" %}

{% block title %}
    <title>My Tasks</title>
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
                {% if task_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                        <tr>
                            <td>{{ task.name }}<a></td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>
                    You have no tasks
                </p>
            {% endif %}
        </div>
    </main>
{% endblock content %}